.task-list__item {
  position: relative;
  width: 400px;
  padding: 1em 1em 1em 3em;
  border: 1px solid #afafaf;
  margin-bottom: .5em;
}

.task-list__item--upcoming {
  background-color: rgba(255, 217, 130, 0.3);
}

.task-list__item--expired {
  background-color: rgba(255, 0, 0, .3);
}

.task-list__item:last-of-type {
  margin-bottom: 0;
}

.task-list__controls {
  position: absolute;
  top: .5em;
  right: 1em;
}

.task-list__control {
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
  fill: #8e8e8e;
}

.task-list__control--down {
  transform: rotateZ(180deg);
}

.task-list__order {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 .5em;
}

.task-filter {
  display: inline-block;
  padding: .3em .5em;
  margin: 1em 0;
  border: 1px solid #afafaf;
  border-radius: 3px;
  font-size: .7em;
  text-transform: uppercase;
  cursor: pointer;
}
