.task-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 500px;
  box-shadow: -1px 0 10px rgba(0, 0, 0, .3);
  padding: 3em 1em 1em;
  transform: translateX(0);
  transition: transform .3s ease;
}

.task-panel__content {
  position: absolute;
  width: calc(100% - 1em);
  height: calc(100% - 8em);
  overflow: auto;
}

.task-panel--closed {
  transform: translateX(100%);
}

.task-panel__close {
  position: absolute;
  top: 1em;
  left: 1em;
  cursor: pointer;
}
